@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #f7f7f7;
  --background-start-rgb: 42, 173, 35;
  --background-end-rgb: 255, 199, 154;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: var(--foreground);
  font-family: "font-sans", sans-serif;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
.glass-effect {
  background-color: rgba(
    255,
    255,
    255,
    0.5
  ); /* Kolor tła z 50% przezroczystości */
  backdrop-filter: blur(8px); /* Rozmycie tła */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Cień */
  padding: 1rem; /* Wewnętrzne wypełnienie */
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
